<div class="container pt-4">
  <h2>{{ "maintenance.users.title" | translate }}</h2>
  <button class="btn btn-primary mb-3" (click)="openCreateUpdateModal()">
    {{ "maintenance.users.createButton" | translate }}
  </button>
  <table class="table">
    <thead>
      <tr>
        <th>{{ "maintenance.users.table.id" | translate }}</th>
        <th>{{ "maintenance.users.table.username" | translate }}</th>
        <th>{{ "maintenance.users.table.organization" | translate }}</th>
        <th>{{ "maintenance.users.table.role" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.organizationName }}</td>
        <td>{{ user.role }}</td>
      </tr>
    </tbody>
  </table>
</div>
